html {
  height: 100%;
  width: 100%;
}

body { 
  margin:0px; 
  padding:0px; 
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

#app-container {
  min-height: 840px; /* make this responsive */
  width: 100%;
}

#home-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 840px;
  width: 100%;
  background-color: rgb(184, 241, 177);
}

.home-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 8rem;
  width: 90%;
  align-items: center;
}

.home-navbar button {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  margin: 5px;
}

#ladybug-img {
  width: 100%;
}

#map { 
  position:absolute; 
  top:0px; 
  bottom: 3rem; 
  width:100%; 
}

.map-navbar {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6rem;
  width: 100%;
  align-items: center;
  background-color: rgb(184, 241, 177);
}

.map-navbar button {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
}

#directions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(184, 241, 177);
  min-height: 812px;
}

#directions-container input {
  border: 1px solid black;
  height: 2rem;
  width: 95%;
  margin: 1rem 0rem 0rem 0rem;
  font-size: 1.7rem;
}

#directions-container button {
  background-color: lightgray;
  height: 2rem;
  width: 70%;
  margin: 1rem 0rem 0rem 0rem;
  font-size: 1.7rem;
}

#directions-container ul {
  list-style-type: none;
  padding: 0;
  margin: .75rem;
  background-color: white;
}

#directions-container li {
  margin: .5rem;
}

#directions-container img {
  height: 500px;
  margin: 3rem 0rem 3rem 0rem;
}


